body {
	font-family: "rsuregular", tahoma;
	font-size: 20px;
}

#login {
	margin-top: 10%;
	width: 100%;
	padding: 20px;
	/*background: #1a237e;*/
	background: #b71c1c;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.company {
	text-align: center;
}

.company .logo {

}

.company .logo img {
	width: 100px;
	height: 100px;
}

.company .name {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

.company .subname {
	margin-top: 5px;
	font-style: italic;
}

.error {
	font-size: 12px;
	font-style: italic;
	color: yellow;
}

footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

footer .copyright {
	text-align: center;
}

.form-control {font-size: 20px;}
.btn {font-size: 20px;}