body {font-family: "rsuregular", tahoma; font-size: 18px;}
a.navbar-brand {font-size: 2em;}
.navbar-default {background-color: #b71c1c;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {color: #fff;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {color: #fff;}
.navbar-default .navbar-nav>li>a {color: #fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background: none; color: #263238;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background: none; color: #263238;}
footer {min-height: 50px; background: #b71c1c; color: #fff;}
footer .copyright {margin-top: 10px; text-align: center; padding: 15px;}
.page-header {position: relative; top: -20px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;}
.page-header h1 {font-size: 1.5em;}
.form-control {font-size: 18px;}
.btn, .dropdown-menu {font-size: 16px;}